* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.first-section_hero {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px 15px;
    background-image: url(./13597234099992.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.first-section_title {
    font-size: 50px;
    font-style: italic;
    color: gold;
    text-align: center;
}

.first-section_text {
    font-size: 50px;
    font-style: normal;
    color: goldenrod;
    text-align: center;
}

.form_btn {
    position: relative;
    border: 2px solid darkblue;
    width: 550px;
    height: 80px;
    margin: 200px;
    transform: translate(-50%, 0);
    left: 50%;
    font-size: 50px;
    color: skyblue;
    font-weight: 800;
    text-decoration: underline;
}

.section_balon {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px 15px;
    background-color: powderblue;
}

.section_balon img {
    float: left;
    margin: 10px 10px 10px 0;
}

.section_balon_title {
    text-align: center;
    font-size: 50px;
    font-style: inherit;
}

.section_balon_list {
    position: relative;
    font-size: 20px;
    padding-left: auto;
    padding-top: 50px;
    list-style: none;
}

.section_balon_link {
    position: relative;
    text-align: right;
    font-size: 40px;
    padding: 250px;
    right: 200px;
}

.third_section {
    padding: 50px;
    height: 100vh;
    background-color: darkorange;
}

.registration {
    right: 50%;
}

.form_field {
    margin: 0 auto;
    width: 50%;
}

.form_field input {
    width: 100%;
    margin: 50px;
    padding: 20px 50px 20px 20px;
    border: 2px solid #000;
    border-radius: 10px;
    color: #ff0000;
}

.form_btn1 {
    display: block;
    margin: 0 auto;
    border: 5px solid #ff0000;
    border-radius: 5px;
    width: 100PX;
    height: 50px;
    font-size: 30px;
    color: #8a2be2;
}

.fourth_section {
    background-color: darkorchid;
    height: 100vh;
}

.fourth_section_title {
    color: gainsboro;
    font-size: 70px;
    text-align: center;
    padding: 100px 15px;
    font-style: italic;
}
